In [6]:
import pandas as pd
import pypyodbc as odbc

In [3]:
AWR = pd.read_csv('Amazon Watch Reviews.csv')

In [4]:
AWR.head()

,name,rating,title,review
0,Rajendra Khetade,3.0 out of 5 stars,It's High price... Give additional features of...,Bettry not perform well.
1,Atharva Bhosale,5.0 out of 5 stars,Must Buy,Value for money üòÉüòÉ
2,Gaurav tripathi,5.0 out of 5 stars,Excellent watch ....features are amazing,Excellent watch ....features are amazing
3,Poulami S.,3.0 out of 5 stars,Its a not bad thing...,Watch works well. Compered it with my amazefit...
4,Amit Tikam,5.0 out of 5 stars,Zakkas watchüëåüèª,Good watch I got it during sell days for Rs. 3...

In [5]:
AWR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    82 non-null     object
 1   rating  77 non-null     object
 2   title   82 non-null     object
 3   review  80 non-null     object
dtypes: object(4)
memory usage: 2.7+ KB

In [7]:
DRIVER_NAME = 'SQL SERVER'
SERVER_NAME = 'LAPTOP-KBUVIT6T'
DATABASE_NAME = 'python_database'
connection_string = f"""
    DRIVER={{{DRIVER_NAME}}};
    SERVER={SERVER_NAME};
    DATABASE={DATABASE_NAME};
    Trust_Connection=yes;
    
    """


conn = odbc.connect(connection_string)
print(conn)

<pypyodbc.Connection object at 0x00000233DD612E48>

In [10]:
#Create connection curser
cursor = conn.cursor()

In [14]:
AWR.head(10)

,name,rating,title,review
0,Rajendra Khetade,3.0 out of 5 stars,It's High price... Give additional features of...,Bettry not perform well.
1,Atharva Bhosale,5.0 out of 5 stars,Must Buy,Value for money üòÉüòÉ
2,Gaurav tripathi,5.0 out of 5 stars,Excellent watch ....features are amazing,Excellent watch ....features are amazing
3,Poulami S.,3.0 out of 5 stars,Its a not bad thing...,Watch works well. Compered it with my amazefit...
4,Amit Tikam,5.0 out of 5 stars,Zakkas watchüëåüèª,Good watch I got it during sell days for Rs. 3...
5,jenith s.,5.0 out of 5 stars,Value for money!,Its been one month since i am using this produ...
6,Manu The shopper!,3.0 out of 5 stars,Decent watch for starters,Watch is good if you are looking for getting i...
7,PavanV,4.0 out of 5 stars,Very good one for the mentioned features. Supe...,Writing this on day 1 of usage. Seems to be a ...
8,jenny,5.0 out of 5 stars,Best in the range,One of the best watch to buy in this range wit...
9,ratna s.,3.0 out of 5 stars,Better items are available at this price,"Looks cool,many features, but most of them are..."

In [11]:
AWR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    82 non-null     object
 1   rating  77 non-null     object
 2   title   82 non-null     object
 3   review  80 non-null     object
dtypes: object(4)
memory usage: 2.7+ KB

In [17]:
cursor.execute('create table.AWR(name varchar(20),rating varchar(30),title varchar(100),review varchar(1000))')

In [38]:
for row in AWR.itertuples():
    cursor.execute('insert into AWR values(:name,:rating,:title,:review)',(row.name,row.rating,row.title,row.review))
    conn.commit()